* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2A3035;
  font-family: "Roboto", sans-serif;
  color: white;
}

#q4Wrapper h1, #q4Wrapper h3 {
  margin: 0;
}

#q4Wrapper h1 {
  font-size: 48px;
}

#q4Wrapper h3 {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

#q4Wrapper header, #q4Wrapper footer {
  background-color: #22272B;
}

#q4Wrapper header {
  padding: 20px;
}

#q4Wrapper footer {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

#q4Wrapper article {
  text-align: center;
}

#q4Wrapper article img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

#q4Wrapper a {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}

#q4Wrapper a:hover {
  transform: scale(1.05);
}

#q4Wrapper a span {
  opacity: 0.5;
}

/* Uses flex for centering content over margin */
/* IMO it is the onus of the parent to manage placement of children */
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout_inner {
  max-width: 960px;
  padding: 30px 20px;
}

.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
.reports {
  display: grid;
  display: -ms-grid; /* IE11 only has partial support for grid */
  
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr; /* IE11 has non-standard naming */
}

.reports_item {
  /* Each item would have 15px from the boundaries, but 30px from each other */
  margin: 15px; /* Ideally, I would use `grid-gap: 30px` in .reports to maintain item spacing */
}

/* Using CSS in JS, like styled-components and React, would allow us to better co-locate this CSS */
@media (max-width: 768px) { /* Works for portrait tablets and down */
  .reports {
    grid-template-columns: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr; /* IE11 has non-standard naming */
  }
}

@media (max-width: 480px) { /* Phones benefit most here, creates one continuous column */
  .reports {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr; /* IE11 has non-standard naming */
  }
}

/* Following classes were unused: 
    - reports_cover
      - Could be use for image specific styling
      - Adding a fallback here for when an image is unavailable could be useful
    - reports_docs
      - Layout for the report links
      - Could enfore consistency in presentation (example provided)
    - reports_title
      - Link specific styling
*/

/* 'report_docs' could look like this... */
/* ------------------------------------- */
/*
.reports_docs {
  display: flex;
  flex-direction: column;
}

OR

.reports_docs {
  display: grid;

  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr; 

  grid-gap: 4px;
}
*/